.accountHeader{padding:10px 20px;}
.accountPageWrapper .bottomBarWrap{position:fixed;bottom:0px;}
.iconLetter{height:30px; width:30px;  background-image: linear-gradient(45deg, #ace143, #219393);color:#fff;border-radius:50%;margin-right:18px;margin-top:4px;}
