.formField input,.formField select{background:#fff; border: none; outline: none; border-bottom: solid 2px #e7e7e7; padding: 4px 0; color:#242424; width:100%;min-width:95%;-webkit-appearance: none;-moz-appearance: none;}
.formField select:focus{outline:none;}
.formField input:focus{border-bottom: solid 2px #008cff;}
.formField input::placeholder{ font-weight: normal; font-size: 12px; opacity: 0.5;}
select{outline:none;-webkit-appearance: none;}
.formField select{ background: none; width: 100%; width: 100%;height: 100%;}
input[type="date"]{background: none; width: 100%; width: 100%;height:28px;}
.selectInput{position:relative;}
.selectInput:after{content:'';border: solid #008cff 1px;border-width: 0 2px 2px 0;display: inline-block;right: 0px;padding: 3px;
top: 22px;right: 11px;position: absolute;  transform: rotate(45deg);-webkit-transform: rotate(45deg);}
.genderChoice{position:relative;height:40px; width:100px;border-radius: 4px;background-color: #ffffff;box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.2);display:inline-flex; justify-content:center;align-items: center;color:#5b5b5b;}
input:checked ~ .genderChoice{background:#000; color:#fff;}
.genderOption{display:inline-block;position:relative;}
.genderOption input {opacity: 0; position: absolute;width:100%; height:100%;z-index: 2;}
.tickOuter{height:16px; width:16px; display:inline-block;background:#fff; border-radius:50%; margin-right:5px; vertical-align: middle;margin-top:2px;position:relative;display:none;}
input:checked ~ .genderChoice .tickOuter{display:inline-block;}
.accountHeader{align-items:center;}
.accountHeader .backIcon {position: static;vertical-align: middle;margin-top: 2px;margin-left: -11px;margin-right:12px;}
.checkMark:after {content: "";display: block;width: 5px;height: 8px;border: solid #000;border-width: 0 2px 2px 0;transform: rotate(45deg);top: 4px;position: absolute;left: 6px;}
#maritalStatusAdd{background: none;width:100%;border:0px;}
.textBlue{color:#008cff;}
.dateInput{outline:none;background:none;border:none; font-weight: 700;font-size:16px;position:relative; -webkit-appearance: none;}
.dateInput:after{contet:''; height:20px; width:20px; background:#fff;right:10px;top:10px;z-index:2;}
.accountDetailsPage .boxPadding{padding:33px 20px;}
.accountDetailsPage input[type="date"]{width:140px;display:block;position: absolute;top:-5px;opacity:0;}
.accountDetailsPage input[type="date"].active{opacity:1; position:static;margin-left:-2px;  padding-top:0px;}
.verifyErrorIcon{background-position:-91px -328px;height:17px; width:17px;vertical-align: middle;margin-left:5px}
.verifyDoneIcon{background-position:-114px -329px;height:17px; width:17px;vertical-align:middle; margin-left:5px;}
