.iconNotification{background-position:-1px -156px;	width: 54px;	height: 41px;display:inline-block;}
.notificationCard{padding:16px 31px 16px 19px; border-radius: 6px;  background-image: linear-gradient(56deg, #f9f7fd, #feefee);  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.2);}
