
@charset "utf-8";

/*-------
// global reset
//-----*/
*, *:before, *:after { -webkit-tap-highlight-color: rgba(0,0,0,0); box-sizing: border-box; vertical-align: top; padding: 0; margin: 0; -webkit-font-smoothing: antialiased; }
*:focus, :click { outline: 0; border: none; }
html, body { user-select: none; }

/*-------
// general
//-----*/
html, body {  padding:0;  margin:0;  color:#4a4a4a; font-size: 14px; font-family: lato; }
html {  box-sizing: border-box; }
::-webkit-scrollbar{ display:none; }
body { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical;
  -webkit-box-direction: normal;  -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column;
  -webkit-flex-wrap: nowrap; -ms-flex-wrap: nowrap; flex-wrap: nowrap; -webkit-box-pack: start; -webkit-justify-content: flex-start; -ms-flex-pack: start; justify-content: flex-start; -webkit-box-align: stretch; -webkit-align-items: stretch; -ms-flex-align: stretch; align-items: stretch; -webkit-align-content: stretch; -ms-flex-line-pack: stretch; align-content: stretch;}



/*-------
// Globals
//-----*/
h1, h2, h3, h4, h5, h6, p,ul { margin:0; list-style: none;}
a{ color:#008cff; text-decoration:none;}
a:hover, a:focus { text-decoration:none; outline:none;  }
.hide { display: none; }
.show { display: block; }
.hidden{ opacity: 0; pointer-events: none; -webkit-transition: opacity 0.5s ease-in-out; -moz-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;}
.visible{visibility:visible;}
.fixed { position: fixed; width:100%;}

/*-- Body position --*/
.bodyFixed{overflow: hidden;}
.bodyStatic{position: static; overflow: visible;width: 100%;}


 .makeSticky{position: sticky;  position: -webkit-sticky;  position: -moz-sticky;   position: -ms-sticky;   position: -o-sticky; top:0; z-index:1;}
.makeRelative { position: relative;}
.clearFix:after {content: "."; display: block; height: 0; clear: both; visibility: hidden;}
.clearFix{display: inline-block; }
.truncate{ width:100%;  white-space: nowrap;  overflow: hidden;  text-overflow: ellipsis; }
.lineThrough{ text-decoration: line-through;}
.capText{ text-transform: uppercase;}

/* -- In case you need to add a gutter above/below an element -- */
.appendTop4{ margin-top:4px; }
.appendTop8{ margin-top:8px; }
.appendTop10{ margin-top:10px; }
.appendTop12{ margin-top:12px; }
.appendTop14{ margin-top:14px; }
.appendTop16{ margin-top:16px; }
.appendTop20{ margin-top:20px; }

.appendBottom2{ margin-bottom:2px; }
.appendBottom4{ margin-bottom:4px; }
.appendBottom6{ margin-bottom:6px; }
.appendBottom8{ margin-bottom:8px; }
.appendBottom10{ margin-bottom:10px; }
.appendBottom12{ margin-bottom:12px; }
.appendBottom14{ margin-bottom:14px; }
.appendBottom16{ margin-bottom:16px; }
.appendBottom20{ margin-bottom:20px; }
.appendBottom24{ margin-bottom:24px; }
.appendBottom32{margin-bottom:32px;}
.appendBottom40{margin-bottom:40px;}
.appendBottom52{margin-bottom:52px;}
.appendBottom65{margin-bottom:65px;}
.appendBottom56{ margin-bottom:56px; }

.appendLeft4{ margin-left:4px; }
.appendLeft6{ margin-left:6px; }
.appendLeft8{ margin-left:8px; }
.appendLeft12{margin-left:12px;}

.appendLeft16{ margin-left:16px; }
.appendLeft20{margin-left:20px;}
.appendRight20{margin-right:20px;}
.appendRight2{ margin-right:2px; }
.appendRight4{ margin-right:4px; }
.appendRight8{ margin-right:8px; }
.appendRight12{margin-right:12px;}

.appendRight14{ margin-right:14px; }
.appendRight16{ margin-right:16px; }
.appendRight18{margin-right:18px;}

/* -- In case you need to add a gutter Left - Right the element -- */
.padding8{ padding:8px;}
.paddingT8{ padding-top:8px;}
.paddingL4{padding-left:4px;}
.paddingR4{padding-right:4px;}
.padding16{ padding:16px;}
.paddingT12{ padding-top:12px;}
.paddingT16{ padding-top:16px;}
.paddingT20{ padding-top:20px;}
.paddingB16{ padding-bottom:16px;}
.paddingTB12{ padding-top:12px; padding-bottom: 12px;}
.paddingR16{ padding-right:16px;}
.paddingL16{ padding-left:16px;}
.paddingL25{padding-left:25px;}
.paddingLR8{ padding-left:8px; padding-right:8px;}
.paddingLR16{ padding-left:16px; padding-right:16px;}
.paddingLR20{ padding-left:20px; padding-right:20px;}
.boxPadding{ padding: 20px;}





/* -- In case you need to add a size -- */
.font10{ font-size:10px; line-height:10px;}
.font11{ font-size:11px; line-height:11px;}
.font12{ font-size:12px; line-height:14px;}
.font14{ font-size:14px; line-height:16px;}
.font16{ font-size:16px; line-height:18px;}
.font18{ font-size:18px; line-height:18px;}
.font20{ font-size:20px; line-height:22px;}
.font22{ font-size:22px; line-height:22px;}
.font26{ font-size:26px; line-height:28px;}
.font30{ font-size:30px; line-height:30px;}

/* -- In case you need to add a Font Family -- */
.latoLight{font-weight: 300;}
.latoRegular{ font-weight: 400;}
.latoBlack{font-weight: 900;}
.latoBold{font-weight: 700;}
.latoIlalic{font-style: italic;}

/* -- In case you need to add LineHight -- */
.lineHight16{line-height: 16px;}

/* -- In case you need to add a color -- */

/*-- Text Colors --*/
.whiteText{color:#ffffff;}
.blackText{color:#000000;}
.darkGreyText{color:#4a4a4a;}
.lightGreyText{color:#575757;}
.deepskyBlueText{ color:#008cff;}
.greenText{color: #1a7971;}
.redText{color: #d0021b}


/* -- In case you need to add an alignment -- */
.textLeft{ text-align:left;}
.textRight{ text-align:right;}
.textCenter{ text-align:center;}


/* -- In case you need to border -- */
.bdrBottom1{border-bottom: 1px solid #e7e7e7}
.bdrBottom2{border-bottom:solid 2px #e7e7e7;}

/*-- width & Calc  --*/
.calc60{ width:calc(100% - 60px)}
.calc80{ width:calc(100% - 80px)}
.calc140{ width:calc(100% - 140px);}
.width30{width: 30%}
.width60{width: 60%}
.width80{width: 80%}
.width48{width:48%;}
.width90px{width:90px;}
.width250px{width:250px;}
.width280px{width:280px;}
.marginAuto{margin-left:auto;margin-right:auto;}



/* -- In case you need to add a Flex -- */
.makeFlex{ display:flex;}
.makeFlex .flexOne{ flex:1;}
.makeFlex.flexWrap{flex-wrap: wrap;}
.makeFlex.column{ flex-direction: column;}
.makeFlex.row{ flex-direction: row;}
.makeFlex.perfectCenter{align-items:center; justify-content: center;}
.makeFlex.hrtlCenter{align-items:center;}
.makeFlex.vrtlCenter{justify-content: center;}
.makeFlex.spaceBetween{ justify-content:space-between;}
.makeFlex.spaceAround{ justify-content:space-around;}
.makeFlex.end{ align-items: baseline;}
.makeFlex.top{ align-items:flex-start;}
.pushRight{ margin-left: auto;}
.pushLeft{ margin-right: auto;}
.inlineB{display: inline-block;}
.flexWrap{flex-wrap:wrap;}

/*-- Buttons --*/
.blueButton{ width:125px; height: 44px; border-radius: 34px; background-image: linear-gradient(98deg, #53b2fe, #065af3), linear-gradient(#008cff, #008cff); box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.2);}

/* -- In case you need to add a Flex Slider -- */

.flexSliderWrap { display: flex; overflow: auto; margin: 0 -16px; padding: 0 16px;}
.flexCards { display: flex; padding: 8px 0;}
.flexCards li { display: inline-flex; flex-direction: column; margin-right: 8px;}

/* -- In case you need to add an animation -- */
.animated {         -webkit-animation-duration:0.7s; animation-duration:0.7s; -webkit-animation-fill-mode:both; animation-fill-mode: both; }
@-webkit-keyframes slideInUp {  0% { -webkit-transform: translateY(50px); -ms-transform: translateY(50px); transform: translateY(50px); }
  100% { -webkit-transform: translateY(0); -ms-transform: translateY(0); transform: translateY(0); }}

.slideUpEffect{-webkit-animation-duration:0.5s; animation-duration:0.5s; -webkit-animation-fill-mode: both; animation-fill-mode: both;
  -webkit-animation-name: slideInUp; animation-name: slideInUp;}

@-webkit-keyframes slideInDown {
  0% { -webkit-transform: translateY(0px); -ms-transform: translateY(0px); transform: translateY(0px); }
  100% { -webkit-transform: translateY(800px); -ms-transform: translateY(800px); transform: translateY(800px); } }

.slideDownEffect{-webkit-animation-duration:1s; animation-duration:1s; -webkit-animation-fill-mode: both; animation-fill-mode: both;
 -webkit-animation-name: slideInDown; animation-name: slideInDown;}

.slideInUp { -webkit-animation-name: slideInUp; animation-name: slideInUp; }
@-webkit-keyframes zoomIn {0% {opacity:0;-webkit-transform:scale3d(.3, .3, .3);transform:scale3d(.3, .3, .3);}
50% {opacity:1;}
}

/* -- In case you need to add a background gradient -- */
@media
    only screen and (-webkit-min-device-pixel-ratio:2),
    only screen and (min-device-pixel-ratio:2)
    {
                    .blueBg{ background-image: linear-gradient(45deg, #00D2FF, #308ADC); }
                    .orangeBg{ background-image: linear-gradient(45deg, #FF7344, #FF495A); }
                    .greenBg{ background-image: linear-gradient(45deg, #3ED5A5, #27A197); }
                    .tranGreenBg{background-image: linear-gradient(45deg, #cdf6e8, #bfe4e0);}
                    .purpleBg{ background-image: linear-gradient(45deg, #B162D1, #492FB5); }
                    .yellowBg{ background-image: linear-gradient(45deg, #F3CA48, #F1A222); }
                    .magentaBg{ background-image: linear-gradient(45deg, #EB65A9, #A3156D); }
                    .cyanBg{background-image: linear-gradient(45deg, #d5e9f9, #ccf6ff);}

    }

.interstitial {
  opacity: 1;
  animation-name: interstitial;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-fill-mode: none;
  animation-play-state: running;
}

@keyframes interstitial {
  0% {

    opacity:0.3;
  }
  50% {
    opacity: 0.7
  }
  100% {

    opacity: 1
  }
}

/*-- Buttons --*/
.blueBtn{border-radius: 39px; display: flex; justify-content: center; align-items: center; color:#fff;
 height: 35px;   background-image: linear-gradient(95deg, #53b2fe, #065af3); font-size: 12px; text-transform: uppercase;}

.interstitial_data { background: #f1f1f1; height: 7px; }

.interstitial p, .interstitial li {background: #f1f1f1; line-height:8px; font-size: 0;}
.interstitial p:nth-child(1){width:85%;}

.interstitial .loadingImg{ width:100%; height: 100%; background: #f1f1f1; }



/*loader changes*/
.btnLoader{height: 22px;width: 22px;animation: rotate 0.8s infinite linear;border: 2px solid #fff;border-right-color: transparent;  border-radius: 50%;margin: -2px auto;animation-name: spin;animation-duration: 1000ms;animation-iteration-count: infinite;animation-timing-function: linear; }


@keyframes spin {
        from {transform:rotate(0deg);}
        to {transform:rotate(360deg);}
}




@keyframes page_loader__mover{
	0%   { width: 0px; }
	100% { width: 100%; }
}
.pageLoaderMover{width:100%;background: #008cff;height:100%;position:absolute;left:0;top:0;animation:page_loader__mover 2s infinite;
}
.pageLoader{height:1px;background:#dcdcdc;position:relative;width:40px;}
.pageLoaderWrapper{height:100vh;}




.iconCross{background-position:-73px -66px;width: 19px;height: 18px;margin-top:2px;}
.iconCrossWhite{background-position:-38px -331px;width: 8px;height: 8px;}

.primaryBtn{height: 44px; border-radius: 4px; background-image: linear-gradient(93deg, #53b2fe, #065af3), linear-gradient(#008cff, #008cff); width:100%; color:#fff; text-transform: uppercase; }
.primaryBtn.disabled{pointer-events: none;  background-color: #c2c2c2; box-shadow: none;background-image: none;}
.secondaryBtn{height: 44px; border-radius: 4px; background-image: linear-gradient(93deg, #53b2fe, #065af3), linear-gradient(#008cff, #008cff);  color:#fff; text-transform: uppercase; display: inline-flex;min-width:125px;border-radius:34px;justify-content:center; align-items: center; box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.2);}
.secondaryBtn.disabled{pointer-events: none;  background-color: #c2c2c2; box-shadow: none;background-image: none;}

/*ripple effect*/
.ripple{position:relative;overflow:hidden;transform:translate3d(0,0,0)}
.ripple:after{content:"";display:block;position:absolute;width:100%;height:100%;top:0;left:0;pointer-events:none;background-image:radial-gradient(circle,#000 10%,transparent 10.01%);background-repeat:no-repeat;background-position:50%;transform:scale(10,10);opacity:0;transition:transform .5s,opacity 1s}
.ripple:active:after{transform:scale(0,0);opacity:.2;transition:0s}

/*/ripple effect*/  


.hide{display:none !important;}

/*media queries*/

@media (min-width:360px) and (max-width:375px)

{
  body{font-size:15px;}
  .font10{ font-size:11px; line-height:13px;}
  .font11{ font-size:12px; line-height:14px;}
  .font12{ font-size:13px; line-height:15px;}
  .font13{ font-size:13px; line-height:15px;}
  .font14{ font-size:14px; line-height:16px;}
  .font16{ font-size:17px; line-height:18px;}
  .font17{ font-size:18px; line-height:19px;}
  .font18{ font-size:19px; line-height:20px;}
  .font20{ font-size:21px; line-height:22px;}
  .font22{ font-size:23px; line-height:24px;}
  .font26{ font-size:27px; line-height:28px;}
  .font30{ font-size:31px; line-height:32px;}
  .font36{ font-size:37px; line-height:38px;}
  .calc80{    width: calc(100% - 85px);}
}

@media (min-width:376px) and (max-width:414px)

{
  body{font-size:16px;}
  .font10{ font-size:12px; line-height:14px;}
  .font11{ font-size:13px; line-height:15px;}
  .font12{ font-size:14px; line-height:16px;}
  .font13{ font-size:15px; line-height:17px;}
  .font14{ font-size:16px; line-height:18px;}
  .font16{ font-size:18px; line-height:20px;}
  .font17{ font-size:19px; line-height:21px;}
  .font18{ font-size:20px; line-height:22px;}
  .font20{ font-size:22px; line-height:24px;}
  .font22{ font-size:24px; line-height:26px;}
  .font26{ font-size:28px; line-height:30px;}
  .font30{ font-size:32px; line-height:34px;}
  .font36{ font-size:38px; line-height:40px;}
    .calc80{    width: calc(100% - 90px);}
}



@media (min-width:376px) and (max-width:414px)

{
  body{font-size:17px;}
  .font10{ font-size:12px; line-height:14px;}
  .font11{ font-size:13px; line-height:15px;}
  .font12{ font-size:14px; line-height:16px;}
  .font13{ font-size:15px; line-height:17px;}
  .font14{ font-size:16px; line-height:18px;}
  .font16{ font-size:18px; line-height:20px;}
  .font17{ font-size:19px; line-height:21px;}
  .font18{ font-size:20px; line-height:22px;}
  .font20{ font-size:22px; line-height:24px;}
  .font22{ font-size:24px; line-height:26px;}
  .font26{ font-size:28px; line-height:30px;}
  .font30{ font-size:32px; line-height:34px;}
  .font36{ font-size:38px; line-height:40px;}
    .calc80{    width: calc(100% - 95px);}
}



@media (min-width:415px)
{

    .font10{ font-size:14px; line-height:16px;}
    .font11{ font-size:15px; line-height:17px;}
    .font12{ font-size:16px; line-height:18px;}
    .font13{ font-size:17px; line-height:19px;}
    .font14{ font-size:18px; line-height:20px;}
    .font16{ font-size:20px; line-height:22px;}
    .font17{ font-size:21px; line-height:23px;}
    .font18{ font-size:23px; line-height:24px;}
    .font20{ font-size:24px; line-height:26px;}
    .font22{ font-size:26px; line-height:28px;}
    .font26{ font-size:30px; line-height:32px;}
    .font30{ font-size:34px; line-height:36px;}
    .font36{ font-size:40px; line-height:42px;}
    .calc80{    width: calc(100% - 125px);}

}
