
.footerWrap{ background-color: #000;}
.twitterIcon{ width:21px; height:17px; background-position: -28px -37px;}
.facebookIcon{ width:11px; height:21px; background-position: -86px -37px;}
.googleIcon{ width:20px; height:19px; background-position: -53px -37px;}
.playStoreIcon{width:119px; height: 40px; background-position: -31px -242px; }
.appStoreIcon{width:119px; height: 40px; background-position: -31px -199px; }