.guestsRoomsWrap{position: fixed; top:0; left:0; background: #fff; width:100%; height: 100%; z-index: 10;}
.guestsRoomsHeader{display: flex; align-items: center; box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.10); top:0; left:0; z-index: 1; height: 45px; }
.guestsRoomsHeader .title{ width:calc(100% - 40px); margin-left: auto;}
.guestsRoomsWrap .rooms{ height: calc(100% - 130px); margin-top: 50px; overflow-y: auto; padding-bottom: 50px; }
.roomAdded{border-bottom:solid 1px #e7e7e7;}
.roomAdded .room{ display: block;}
.adultShort{ display: none;}
div.roomAdded:not(:last-of-type) .room{ display: none;  }
div.roomAdded:not(:last-of-type) .adultShort{ display: block;}
div.roomAdded:last-of-type .removeRoom{ display: none;}


.ageSlider{ display: flex; overflow-x: auto; margin: 0; margin-left: -5px; padding: 0; list-style: none;}
.ageSlider li{ display: flex; justify-content: center; align-items: center; min-width:60px; height: 40px; box-shadow: 0px 0px 5px 0px rgba(204,204,204,1); border: solid 1px rgba(204,204,204,0.6); border-radius:4px; font-size: 22px; margin:5px;}
.ageSlider li.selected{ background: #008cff; color:#fff;}
