/* -- In case you need Sprite -- */
/*Replace*/
.homeSprite{ background-image: url(../images/homeSprite@2x.png); background-size: 150px 525px;	-webkit-background-size: 150px 525px; -moz-background-size: 150px 525px;	 font-size:0; display:inline-block; }
/*/Replace*/
.loginSignupSprite{ background-image: url(../images/loginSignupSprite@2x.png); background-size: 50px 50px;	-webkit-background-size: 50px 50px; -moz-background-size:50px 50px;	 font-size:0; display:inline-block; }

.backIcon{width:18px; height:18px; background-position: -1px -49px;}
.blueArrowIcon{width:13px; height:10px; background-position: -3px -80px;}
.greyArrowIcon{width:13px; height:10px; background-position: -3px -80px; -webkit-filter: grayscale(100%); filter: grayscale(100%);}
.card{border-radius: 4px; background-color: #ffffff;  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.2);}
.sectionHeading h2{ font-size: 20px; line-height: 24px; color:#000; font-weight: 800;}

/*loader changes*/
.continueImgLoader{height:30px; width:30px; border-radius:50%; background:#e7e7e7;}
/*/loader changes*/

.mmtBookingBenefits h2{margin-bottom:15px;font-size:16px; font-weight: 800;}
.mmtBookingBenefits{background:#f2f2f2;}
header{align-items: center; justify-content: center;}
h1{font-size:10px; font-weight:700; color:#9b9b9b;margin-top:0px; margin-bottom:20px; text-align: left; text-transform: uppercase;margin-top:-9px;}
.returnTooltip{    background: #249995;width: 110px;padding: 3px 7px;  color: #fff;border-radius: 3px;font-size: 12px;position: absolute;top: 20px; line-height: 13px;left: 11px;}
.returnTooltip:after{top: -13px;left: 12px;border: solid transparent;content: " ";height: 0;width: 0;position: absolute;pointer-events: none;/* border-color: #249995; */border-bottom-color: #249995;border-width: 7px;}