
.offersWrap{ flex-wrap: wrap;}
.offersWrap li{width:48%; margin-right:4%; min-height: 130px;}
.offersWrap li .offersTitle{ margin: -25px 0 20px 10px;}
.offersWrap li:nth-child(even){margin-right:0;}
.offersWrap li img{width:100%; border-radius: 4px;}
.offersPage{ background: #fff;}
.offersPage .backIcon{ position: relative; top:0; left: 0;}
.offersPage .offersWrap{ height: calc(100% - 220px); overflow-y: auto; padding-bottom: 20px;}

.offersType{ flex-wrap: wrap;}
.offersType li{height: 40px; border-radius: 4px; background-color: #ffffff; box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.2); padding: 0 16px; margin: 0px 10px 10px 0;}
.offersType li.selected{ background-color: #000; color:#fff;}


/*loader changes*/

.offerImageLoader{border-radius:6px;width:100%; height:66px;margin-bottom:9px;background: #e7e7e7;}
.offersWrap .interstitial_data{border-radius:6px;}
