
.ratingNumber{ width:40px; height: 18px; border-radius:12px;  background-image: linear-gradient(247deg, #3a7bd5, #00d2ff); margin-top: -10px; }
.imgRatingWrap{ width:50px;}
.imgRatingWrap img{ border-radius: 4px;}
.priceWrap{ width:70px; text-align: right; display: flex; flex-direction: column; justify-content: center; }

.ratingBlank{ width:44px; height: 10px; background-position: -102px -46px; }
.ratingFill{ width:44px; height: 10px; background-position: -102px -36px; }
/*-- Star Rating --*/
.fiveStar{ width:44px;}
.fourHalfStar{ width:40px;}
.fourStar{ width:35px;}
.threeHalfStar{ width:31px;}
.threeStar{ width:28px;}
.twoHalfStar{ width:22px;}
.twoStar{ width:18px;}
.oneHalfStar{ width:13px;}
.oneStar{ width:9px;}


.recomTile{border-radius: 4px;background-color: #ffffff;box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);padding:11px 10px;width:48%; margin-right:4%;margin-bottom:16px;}
.recomTile:nth-child(even) {margin-right: 0;}
.listTime .timeline{border-left:1px dotted #cbcbcb;position: absolute;height: 70%;display: inline-block;left: 2px;top: 9px;}
.timeline:before{content:'';border-radius:50%;height: 5px;border: 1px solid #cbcbcb;background:#fff;width: 5px;left: -3px;top: 0px;position: absolute;}
.timeline:after{content:'';border-radius:50%;height: 4px;border: 1px solid #7ed321;background:#7ed321;width: 5px;left: -3px;bottom: 0px;position: absolute;}

.listTime{padding-left:19px;margin-bottom: 21px;}
.flexWrap{flex-wrap:wrap;}
.iconCal{background-position: -128px -305px;width: 11px;height: 10px;}
.recomTile .iconCal{margin-right: 13px;margin-top: 2px;margin-left: 5px;}
.airlineimgLoader{height:20px; width:20px; background:#cbcbcb;border-radius:50%;}
