
.recentRailIcon {width: 17px; height: 17px; background-position: -87px -130px;}
.arrowBackIcon{ width: 18px; height: 18px; background-position: -1px -49px;}
.refreshIcon{width:20px; height:20px; background-position: -129px -129px;}
.pnrIcon{width:42px; height:42px; background-position: -66px -355px;}
.liveTrainIcon{width:42px; height:42px; background-position: -0px -397px;}
.seatIcon{width:42px; height:42px; background-position: -110px -355px;}
.pnrTrainIcon{width:42px; height:42px; background-position: -151px -397px;}
.confirmedIcon{width: 14px; height: 14px; background-position: -130px -399px;}
.chartNoIcon{ width: 14px; height: 14px; background-position: -114px -399px;}
.chartYesIcon{ width: 14px; height: 14px; background-position: -130px -399px;}
.railLocationIcon{width: 14px; height: 14px; background-position: -137px -330px;}
.arrowUpIcon{ width:12px; height:8px; background-position: -131px -421px; }
.redArrowIcon{ width:14px; height:8px; background-position: -114px -421px;}
.redArrowDownIcon{width:14px; height:8px; background-position: -134px -435px;}
.timeIcon{width:17px; height:17px; background-position:-115px -434px;}
.timeIcon:after { content: ""; border: solid 1px #eb2026; width: 20px; height: 21px; position: absolute; border-radius: 100%; top: 13px; left: 14px;}

.railTabs{ display:flex; }
.railTabs li{ display:flex; align-items: center; justify-content: center; padding:12px 10px; margin-right: 10px; border-radius: 4px; background-color: #ffffff; box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.2);}
.railTabs li:last-child{ margin-right: 0;}
.railTabs li.selected{ background: #000; color:#fff; font-weight: 800;}
.railTabs li .liveTag{ background: #eb2026; border-radius: 2px; padding:0 2px; color:#fff; margin-right: 3px; }
.crossPosition{ position: absolute; top:16px; right:0;}

.errorField input{ border-bottom: solid 1px #eb2026 !important; }
.errorField .errorText{ display:flex;}

.rail .recentSearchCity{ display:none;}
.flight .pnrNo, .hotel .pnrNo{ display:none;}


.pnrHeader{ padding: 16px; min-height: 53px; display:flex; align-items: center; position: sticky; top:0; left: 0; z-index: 2; background: #fff; border-bottom: solid 1px #e7e7e7;}
.lastUpdated{ display:flex; position: sticky; top:53px; left: 0; z-index: 2; background: #fff; padding: 8px 16px;  box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.3);}
.railSection{ display:flex; flex-direction: column; padding: 16px;}
.railSection h2{ display:flex; margin-bottom: 20px; font-size: 20px; font-weight: 900; color:#000;}
.railSection:last-child h2{ margin-bottom: 10px;}
.pnrDetailsCard{border-radius: 4px;box-shadow: 0 1px 7px 0 rgba(0, 0, 0, 0.2); display: flex; flex-direction: column;}
.pnrDetailsCard .left{ width:50%;}
.crossRed{ width:14px; height: 14px; border-radius: 100%; font-size: 8px; background: #eb2026; color:#fff; font-weight: 700; display: flex; align-items: center; justify-content: center;}
.seatTable{ border: solid 1px #e7e7e7;  border-radius:4px; display: flex; flex-direction: column; }
.seatTable .heading{ background:#008cff; color:#fff; font-weight: 800; border-top-left-radius: 4px;
    border-top-right-radius: 4px; padding: 12px 8px;}
.perTag{background: #26b5a9; padding: 0px 3px; border-radius: 2px; color:#fff;}
.trainTiming{ width:80px; text-align: right; padding-right: 16px; display:flex; flex-direction: column; justify-content: space-between; position: relative; height: 220px;}
.trainTiming::after{ width:1px; content:""; border: dashed 1px #9b9b9b; height: 200px; position: absolute; top:10px; right: 0;}
.fromPoints,.uptoPoints{font-weight: 800; padding-top: 3px; position: relative;}
.fromPoints::before{ content: ""; width:7px; height: 7px; border-radius: 100%; border:solid 1px #9b9b9b; position: absolute; top:4px; left: -20px;}
.uptoPoints::before{ content: ""; width:7px; height: 7px; border-radius: 100%; position: absolute; top:4px; left: -20px; background:#26b5a9;}
.seeCoach{ margin: 30px 0; color:#008cff; border:solid 1px #e7e7e7; justify-content: space-between; border-radius: 4px; padding: 10px; display:flex; align-items: center;}
.trainInfoRight{ height: 280px; display: flex; flex-direction: column; justify-content: space-between; padding-left: 16px;}

.platformTag{border-radius: 10px; background-color: #ffd3d4; color:#000; padding:2px 8px;}
/*Overlays*/
.overlayOuter{position: fixed;background: #fff;z-index:4;width: 100%;left: 0px;bottom: 0px; padding:20px;}
.overlayAnimation{opacity: 1;}
.backdrop{ position: fixed; top:0; right:0; bottom: 0px; left:0; background: rgba(0, 0, 0, 0.5); z-index: 3; }
.perTagBig{ background: #26b5a9; border-radius: 4px; color:#fff; width:50px; height: 34px; display: flex; align-items: center; justify-content: center;}
.lineHeight24{ line-height: 24px;}
.lowTag,.mediumTag,.highTag{ font-size: 14px;  border-radius: 4px; color:#fff; padding:4px; width:84px; margin-right: 10px; font-weight: 800;} 
.lowTag{background: #eb2026;}
.mediumTag{ background: #f6a724;}
.highTag{ background: #26b5a9;}

.coachNote{ width:calc(100% - 40px); position: relative; padding:4px 8px; margin:20px auto 0; border-radius: 4px; background-color: #ffd3d4; color:#eb2026; display: flex; align-items: center; }
.closeNote {
    position: relative;
    width: 18px;
    height: 18px; padding:4px;
  }
  .closeNote:before, .closeNote:after {
    position: absolute;
    left: 4px;
    content: ' ';
    height: 10px;
    width: 2px;
    background-color: #eb2026;
  }
  .closeNote:before {
    transform: rotate(45deg);
  }
  .closeNote:after {
    transform: rotate(-45deg);
  }

  .coachWrap{ display:flex; flex-direction: column; padding-top: 20px;}
  .coachWrap li { display: flex; align-items: center; color:#000;}
  .countLeft{ width:48px; align-items: center; justify-content: center; display: flex;}
  .engineImg{ width:57px; height: 110px; background-position: -51px -400px;}
  .coachBox{ width:57px; height: 80px; color:#fff; display:flex; justify-content: center; align-items: center; border-radius: 4px; background-image: linear-gradient(216deg, #3023ae, #9416aa 100%, #c86dd7);}
  li.booked::before { position: absolute;
    content: "";
	width: 0; 
	height: 0; 
	border-bottom: 10px solid transparent;
	border-top: 10px solid transparent; 
	border-left: 10px solid #26b5a9; 
	font-size: 0;
	line-height: 0;
}
.errorScreen{ margin: 50px auto;}
.pnrErrorImg{  display: flex; justify-content: center;}
.pnrErrorImg img{ width:199px; height: 173px;}

.loginCard{border-radius: 4px; padding:16px; flex:1; background-color: #ffffff;  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.2); display:flex; flex-direction: column;}
.loginCard img{ width:172px; height: 74px; margin-bottom: 15px;}
.orangeText{ color:#ff5549;}

.selectStationWrap input{ opacity: 0; pointer-events: none; display: none; }
.selectStationWrap .cityWrap{ overflow: hidden;}
.railOverlayHeader{ position: sticky; top:0; left: 0; width:100%; display: flex; flex-direction: column; background: #fff; box-shadow: 1px 0 7px 0 rgba(0, 0, 0, 0.3);}
.railOverlayHeader .backIcon{ position: relative; top:0;left: 0; margin-right: 16px;}
.trackWrapper{ display:flex; flex-direction: column;}
.dateTagRow{ padding-left: 70px; position: relative; z-index: 1;}
.dateTag{ display: flex; align-items: center; justify-content: center; width: 70px; height: 20px; line-height: 20px; border-radius: 10px; color:#fff; font-size: 12px;
  position: relative; z-index: 1;  background-image: linear-gradient(#000000, #000000), linear-gradient(253deg, #3023ae, #9416aa 100%, #c86dd7);}
.stationRow{ display: flex; position: relative;}
.dateTagRow::after{ content: ""; height: 50px; width:6px; background: #e7e7e7; position: absolute; top:10px; left:100px; z-index: 0;  }
.railPassed::after{background: #26b5a9;}
.stationLeft{ width:100px; padding-right: 20px; text-align: right; position: relative;}
.stationLeft,.stationRight{ position: relative;}
.stationRight{ display: flex; flex: 1; flex-shrink: 0; flex-direction: column; padding-left: 20px; border-left:solid 6px #e7e7e7;  }
.stationRight p:last-child{ margin-bottom: 40px;}
.cancelPart .stationRight{border-left:solid 6px #eb2026;}
.divertedPart .stationRight{border-left:solid 6px #ffce17;}
.divertedPart .yellowText{ color: #ffce17;}
.railLate .departText{ color:#eb2026;}
.cancelPart .stationLeft:after{left: 100%; top: 50%; border: solid transparent; content: " ";height: 0;width: 0; position: absolute;pointer-events: none; border-color: rgba(136, 183, 213, 0); border-left-color: #eb2026; border-width: 15px; margin-top: -15px;
}
.divertedPart .stationLeft:after{left: 100%; top: 50%; border: solid transparent; content: " ";height: 0;width: 0; position: absolute;pointer-events: none; border-color: rgba(136, 183, 213, 0); border-left-color: #ffce17; border-width: 15px; margin-top: -15px;
}
.currentLocation .stationRight .stationCityName:first-child{ color:#fff; background:#26b5a9; padding: 2px 8px; border-radius: 10px; } 
.railPassed .stationRight{  border-left:solid 6px #26b5a9;}

.stationCityName{ color:#000; position: relative;}
.stationCityName::before{ position: absolute; top: -1px; left: -29px; z-index: 1; content:""; width:12px; height: 12px; background: #fff; border: solid 3px #727272; border-radius: 100%;}
.railPassed .stationCityName::before{border: solid 3px #26b5a9;}
.currentLocation .stationCityName::before{border: solid 1px #26b5a9; width:24px; height: 24px; top: -6px; left: -36px; background: #26b5a9;  }
.currentLocation .stationCityName::after{border: solid 1px #26b5a9; width:26px; height: 26px; top: -6px; left: -36px; background: #26b5a9;  }


.stationGap{ margin-bottom: 40px;}
.yourStop{ border-radius: 4px; background-color: #eaf5ff; position: relative; margin-bottom: 30px;}
.yourStop::before{content: "Your Stop"; position: absolute; right: 20px; top:-10px; background: #eaf5ff; padding:5px 10px; border-radius:10px; color:#008cff; font-weight: 800; }
.yourStop .stationLeft, .yourStop .stationRight{ padding-top: 20px; }
.yourStop .stationGap{ margin-bottom: 20px}
.yourStop::after{ content:""; position: absolute; width: 6px; height: 30px; background: #e7e7e7; bottom: -30px; left:100px; }
.trackWrapper .yourStop:last-child::after{bottom: 70%; }
.currentLocation .railLocationIcon{ display: flex; top: 0; left: 96px; position: absolute; z-index:2;}
.stationRow:last-of-type .stationRight{border-left:solid 6px transparent;}


.trainStartWrapper {
  padding: 20px 16px;
}
 
.trainStartWrapper.curtainDown {
    position: absolute;
    height: 100vh;
    width: 100%;
    background: rgba(0,0,0,0.4);
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
}
 

.trainStartDateCard{
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  box-shadow: 0 1px 7px 0 rgba(0, 0, 0, 0.2);}


 
.trainStartWrapper .trainStart {
  padding:10px;
}
 
.trainStartWrapper .trainStartInfo.redBg {
  padding: 10px;
  background-color: #eb2026;
  border-radius: 0 0 4px 4px;
}

.trainStartWrapper .trainStartInfo.yellowBg {
  padding: 10px;
  background-color: #ffce17;
  border-radius: 0 0 4px 4px;
}
 
.trainStartWrapper .trainStartDetail {
  border-top:solid 1px #e7e7e7;
  max-height: 0;
  overflow-y: hidden;
 will-change: transform;
  flex-direction: column;
  align-items: flex-start;
  transition-property: all;
  transition-duration: .1s;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}
 
.trainStartWrapper .trainStartDetail.curtainDown {
  padding: 9.5px 10px;
  max-height: 250px; /* approximate max height */
}
 
.trainStartWrapper .trainStartDetail .trainStartDetailOption {
  margin: 10.5px 0;
  width: 100%;
}

.curtainDown .arrowUpIcon{ transform: rotate(180deg);}


.railTimeInfo{background: #fff; position:fixed; bottom: 0; left: 0; width: 100%; display: flex; flex-direction: column; z-index: 3;}
.railTimeInfoOverlay{background: #fff; position: absolute; bottom: 0; left: 0; width: 100%; display: flex; flex-direction: column; z-index:4; overflow: auto;}
.railTimeHeader{background: #ffd3d4; display: flex; align-items: center; padding: 8px 16px;  }

.startOnCard{ display: flex; flex-direction: column;  border-radius: 4px; background-color: #ffffff; box-shadow: 0 1px 7px 0 rgba(0, 0, 0, 0.2);}
.junctionBox{ color:#fff;  background-image: linear-gradient(254deg, #3023ae, #9416aa 100%, #c86dd7); padding: 10px;}
.distanceLiner{border-bottom: dotted 1px #fff; position: relative; margin: 10px 0;}
.distanceLiner::before{ content: ""; border:solid 2px #93d51f; width:8px; height: 8px; border-radius:6px; background: #fff; position: absolute; top:-4px; left: 0px; z-index: 1;}
.distanceLiner::after{ content: ""; border:solid 2px #fff; width:8px; height: 8px; border-radius:6px; background:transparent; position: absolute; top:-4px; right: 0px;  z-index: 1;}
.distanceFiller{ width:40%; background: #93d51f; height: 2px; position: absolute; top:-1px; left: 0; }
.distanceFiller::after{ content: ""; border:solid 1px #93d51f; width:8px; height: 8px; border-radius:6px; background: #93d51f; position: absolute; top:-3px; right: -1px;  z-index: 1;}
.stopName{width:100px;}
.platFormTag{ border-radius: 10px; background-color: #ffd3d4; padding: 2px 4px;}
.flexEnd{ align-items: flex-end;}
